/* GOOGLE FONTS */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

/* VARIABLES CSS */
:root {
  /* COLORS */
  --first-color: hsl(354, 78%, 60%);
  --button-color: hsl(0, 0%, 17%);
  --button-color-alt: hsl(0, 0%, 21%);
  --card-color: hsl(0, 0%, 90%);
  --title-color: hsl(0, 0%, 15%);
  --text-color: hsl(0, 0%, 35%);
  --text-color-light: hsl(0, 0%, 55%);
  --body-color: hsl(206, 4%, 97%);
  --container-color: #fff;
  --border-color: hsl(0, 0%, 94%);

  /* FONT AND TYPOGRAPHY */
  --body-font: 'Roboto', sans-serif;
}

/* RESET */
.bx{
  cursor: pointer;
}

*{
  margin: 0;
  padding: 0;
}

a{
  text-decoration: none;
}

i{
  font-size: 1.25rem;
}

body{
  font-family: var(--body-font);
  color: var(--text-color);
  background-color: var(--body-color);
}

/* DARK THEME */
.dark-theme{
  --first-color: hsl(182, 53%, 74%);
    --button-color: hsl(246, 16%, 12%);
    --button-color-alt: hsl(0, 0%, 28%);
    --card-color: hsla(246, 16%, 5%, .5);
    --title-color: hsl(0, 0%, 95%);
    --text-color: hsl(0, 0%, 75%);
    --body-color: hsl(249, 19%, 14%);
    --container-color: hsl(246, 16%, 12%);
    --border-color: hsl(0, 0%, 20%);

}

/* LOADER */
.loader{
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--body-color);
  display: grid;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.loader--img{
  width: 100px;
  fill: var(--first-color);
  animation: load 1.5s infinite;
}

@keyframes load{
  0% {
    transform: translateY( 0 );
  }
  50%{
    transform: translateY( 10px );
  }
  100%{
    transform: translateY( 0 );
  }
}

/* HEADER */
.header{
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 90;
}
.header.scroll-header{
  background-color: var(--container-color);
  z-index: 90; 
}

/* NAV */
.nav{
  height: 3.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .5rem 1.5rem;
}

.nav--logo{
  width: 2.5rem;
  fill: var(--first-color);
}

.nav-tittle{
  padding-right: 34%;
  align-self: center;
  font-weight: 600;
}

.nav--btns{
  display: flex;
  align-items: center;
  column-gap: 1rem;
}

.nav--cart{
  position: relative;
}

.counter{
  background: var(--title-color);
  position: absolute;
  padding: 0.25rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: -4px;
  right: -5px;
  width: 0.5rem;
  height: 0.5rem;
  color: var(--body-color);
  font-size: 10px;
}

/* CART */
.cart--container{
  width: 100%;
  height: 100%;
  background-color:rgba(144, 140, 140, 0.658);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 80;
}
.cart-tittle{
  text-align: center;
    margin-top: 14%;
}

.cart{
  width: 100%;
  height: 100%;
  max-width: 400px;
  position: absolute;
  top: 0;
  right: 0;
  padding-top: 10%;
  background-color: var(--container-color);
}
.shopping-paragraph{
  text-align: center;
}
.shopping-tittle{
  text-align: center;
}
.shopping-container-img{
  display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}
.shopping-empty{
width: 100%;
}


/* GRID */
.grid--container{
  width: 100%;
  height: 100%;
  background-color:rgba(144, 140, 140, 0.658);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 80;
}

.grid{
  width: 100%;
  height: 100%;
  max-width: 400px;
  position: absolute;
  top: 0;
  right: 0;
  background-color: var(--container-color);
}

.nav-list-grid{
  text-align: center;
  margin-top: 10rem;
}

.list-item{
  list-style: none;
  padding-bottom: 25px;
  font-weight: 500;
}

.list-a{
  color: var(--title-color); 
}
.list-a:hover{
  color: var(--first-color);
}

.hide{
  display: none;
}

.bx-x{
  font-size: 2rem;
  position: absolute;
  top: 1rem;
  right: 1.5rem;
}

/* RED CONTAINER*/
.red-container{
  background-color: var(--first-color);
  position: absolute;
  top: 0;
  right: 0;
  width: 65vw;
  z-index: 10;
}

/* MAIN */

.red-container__img{
  background-color:transparent;
  object-fit: contain;
  width: 100%;
  text-align: center;
  padding-top: 62%;
}

.container-img{
  width: 100%;
  height: 100%;
}

/* MAIN SECTIONS*/
.main-section{
  margin-top: 120%;
  padding: 0.5rem 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 20px;

}

.main-info{
  font-size: 12px;
}

.main-price{
  color: var(--first-color);
  font-weight: 600;
}

.btn{
  border: none;
  padding: 4%;
  font-weight: 600;
}

.btn-gray{
  background-color: rgba(128, 128, 128, 0.673);
  color: black;
  transition: 200ms ease;
}

.btn-black{
  background-color:black;
  color: white;
}
  
.btn-gray:hover{
  transition: 200ms ease;
  transform: scale(1.05);
  filter: brightness(0.9);
}

.btn-black:hover{
  background-color: var(--first-color);
  color: var(--container-color);
  transition: 200ms ease;
  transform: scale(1.05);
  filter: brightness(0.9);
}

/*SECTIONS PRODUCTS*/
.products{
  padding: 3.5rem 1.5rem;
}

.container-list{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  row-gap: 28px;
  column-gap: 16px;
  justify-content: center;
}

.container-item{
  width: 125px;
  text-align: center;
  border-right: solid lightgray;
  line-height: 1.5rem;
}


/* FOOTER */
footer{
  background-color: var(--card-color);
  width: 100%;
}

.footer-info{
  padding: 4.5rem 1.5rem 1.5rem;
}

.footer-info__container{
  margin-bottom: 5%;
  padding: 0 1rem;
}

.footer-info__list{
  list-style: none;
  list-style: none;
  display: flex;
  flex-wrap: wrap; 
  row-gap: 24px;
  column-gap: 5rem; 
  justify-content: space-between;
}

.footer-info__item{
  line-height: 2.5rem;
  display: flex;
  flex-direction: column;
}
.item-tittle{
  font-size: 18px;
  font-weight: 600;

}

.footer-icons{
  display: flex;
  filter: invert(1);
  z-index: 10;
}
.footer-icon{
  padding-right: 10px;
}

.img-footer{
  width: 90%;
}

.footer-last{
  font-size: 12px;
}

.last-container{
  text-align: center;
}

.product-card{
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  z-index: 10;
}
.products-list{
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-evenly;
}

.container-card-1{
  background-color: var(--card-color);
  width: 190px;
  border-radius: 0.3rem 0.3rem 0 0;
  position: relative;
}

.showProduct-img{
  width: 200px;
}
.btn-add{
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  font-size: 20px;
  border: none;
  position: absolute;
  right: 19px;
  bottom: -18px;
  background-color: var(--body-color);
  color: var(--text-color);
}

.container-card-2{
  background-color: var(--body-color);
  text-align: center;
  height: 60px;
  width: 190px;
  margin-bottom: 7%;
  border-radius: 0 0 0.3rem 0.3rem;
  text-align: left;
  padding-top: 13px;

  }
.price-card{
font-weight: 600;
font-size: 16px;
padding: 0.5rem 0.8rem;
}
.stock-card{
  border-left: solid lightgray;
  padding-left: 0.5rem;
}

.name-card{
  font-size: 14px;
  font-weight: 600;
  padding: 0.5rem 0.8rem;
}

/*cart style */
.cart-bag{
  display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 15px;
}
.cart-name-card{
  font-weight: 600;
    font-size: 16px;
    padding-right: 3.5rem;
}
.cart-stock-card{
  border-right: solid lightgray;
  padding-right: 4.5px;
  padding-left: 2px;

}
.cart__amount{
  width: 13rem;
  margin-left: 7rem;
}
}
.cart
.bx-trash-alt{
color: var(--first-color);
}
.subtotal{
  font-size: 18px;
  color: var(--first-color);

}
.cart-container-card-1{
  background-color: var(--body-color);
  border: 0.1px solid lightgray;
  width: 100px;
  border-radius: 0.3rem 0.3rem 0 0;
  position: relative;
  margin-left: 4%;
    margin-top: 5%;
}
.cart-showProduct-img{
  width: 100%;
}
.cart-container-card-2{
  height: 60px;
  width: 138px;
  border-radius: 0 0 0.3rem 0.3rem;
  text-align: star;
  padding-top: 13px;
  padding-left: 8px;
  line-height: 24px;
}
.cart-price-card{
  color: var(--first-color);

}



/* RESPONSIVE */
@media screen and (min-width: 1024px){

  .red-container{
    width: 287px;
    right: 100px;
  }

  .products{
    padding-top: 8.5rem;
  }
  .products-list{
    padding: 0 4.5rem;
  }
  .main-section{
    padding: 0.5rem 4.5rem ;
    margin-top: 150px;
  }

  .main-tittle{
    width: 14rem;
  }

  .main-info{
    width: 22rem;
  }

  .btn{
    padding: 13px;
  }

  .nav{
    padding: .5rem 4.5rem;
    justify-content: flex-start;

  }

  .footer-info{
    padding: 4.5rem 3.5rem 1.5rem;
  }

/* MENU RESPONSIVE*/
.grid{
  height: 3.5rem;
  top:18.4rem;
  left:-5rem;
  background-color: transparent;
}
.nav-list-grid{
  display: flex;
  column-gap: 7%;
  justify-content: center;
  margin-top:0
}

.nav--btns{
  position: relative;
  right: -25rem;
}
.grid--container{
  background-color: transparent;
  top: -16.7rem;
  left: 168px;
  width: 350px;
}
#close-grid{
  display: none;
}
#grid--container{
  display: block;
}
.bx-grid-alt{
  display: none;
}
}

@media screen and (min-width: 1440px){
.grid{
 left:-6rem;
}
.nav--btns{
  right: -42rem;
}
.nav-list-grid{
  margin-top: -1px;
  justify-content: end;
}
.grid--container{
  display:none
}
}
